# Fichiers Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Environnement virtuel
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Fichiers uploadés par les utilisateurs
uploads/*
!uploads/.gitkeep

# Résultats d'analyse
results/*
!results/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
